@import url(./sections/navbar.css);
@import url(./sections/header.css);
@import url(./sections/home.css);
:root {
   /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    line-height: 1.5;
    font-weight: 400;
  
    /*color-scheme: light dark;*/
    color: rgba(0, 0, 0, 0.87);
    background-image: linear-gradient(top, #fdfcfb 0%, #e2d1c3 100%);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /*background-image: url("D:\code\web_2\vite_app\assets\bg1.jpg");
    background-size:cover;
    overflow-y: scroll;
    heigfht: 3000px;*/
    overflow-y:auto;
    
}
